*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header{
  margin: 50px;
  background-color: aqua;
  padding: 20px;
}

ul{
  display: flex;
  gap: 20px;
  width: 80wv;
  height: 50vh;
}

li{
  width: 300px;
  height: 30vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

img{
  width: 80px;
  height: 80px;
}

.temp{
  display: flex;
  gap: 10px;
}

footer{
  height: 10vh;
  width: 90wv;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

select {
  height: 30px;
  width: 100px;
}

.weather-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ekran yüksekliği kadar alanı kapla */
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-animation {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}